.landing__h2, .title-block, .info-block {
    margin-top: 30px;
}

.landing__list {
    margin-top: 10px;
}

.landing__h3 {
    vertical-align: middle;
    height: 30px;
}

.landing__icon {
    margin-left: 5px;
}

.landing__info {
    padding-left: 20px;
}
